<section class="screen screen--welcome">
  <div class="screen__content content--centered">
    <header>
      <h1 class="heading heading--xl" data-i18n="welcome.title">Добро пожаловать!</h1>
    </header>
    <div>
      <p class="paragraph paragraph--subtitle" data-i18n="welcome.subtitle">Это приложение поможет тебе выучить английский.</p>
    </div>
    <footer>
      <button id="start-btn" class="button button--primary" data-i18n="welcome.start">Начать</button>
    </footer>
  </div>
</section>
